{% extends './security/base.html.twig' %}

{% block title %}
  Mot de passe oublié
{% endblock %}

{# vendor\symfony\twig-bridge\Resources\views\Form #}
{% form_theme requestForm 'reset_password.html.twig' %}

{% block body %}

    {{ form_start(requestForm, {'attr': {'class': 'form-signin'}}) }}
    
    <img class="mb-4" src="{{ asset('assets/img/logo.png') }}" alt="Logo" width="150" height="140" />
    <h1 class="h3 mb-3 font-weight-normal">Mot de passe oublié</h1>

    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_row(requestForm.username) }}

    <button class="btn btn-lg btn-primary btn-block" type="submit">Réinitialiser</button>

    <p class="mt-5 mb-3 text-muted">
      <a class="text-muted" href="{{ path('app_login') }}">Retour à la connexion</a>
    </p>
    <p class="text-muted">&copy; {{ 'now'|date('Y') }} - Tom R.</p>
    {{ form_end(requestForm) }}
  </form>
{% endblock %}

